:root{
	--bg-color:#DCDCDD;
	--blue:#03256C;
	--green: #1E6F5C;
	--sky:#B8C6E2;
	--white:#ffffff;
	--black:#2D2D2D;
}


/* ==================== */
/* Basic Setup */
/* ==================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* -----html Responsive Start----- */

/* Small to Medium Device */
@media only screen and (max-width: 991.98px){
	html{
		font-size: 59.5%;
	}
}
/* XS to Small Device */
@media only screen and (max-width: 767.98px){
	html{
		font-size: 55.5%;
	}
}
@media only screen and (max-width: 575.98px){
	html{
		font-size: 53.5%;
	}
}

/* -----html Responsive End----- */

body{
	font-family: Poppins;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
	font-size: 1.6rem;
	background-color: var(--bg-color);
	color: var(--black);
	overflow-x: hidden;
}
p{
	font-size: 1.4rem;
}

:focus{
    outline: 0;
	box-shadow: none!important;
}
.section-content{
	padding-top: 7rem;
	padding-bottom: 1.5rem;
}

@media only screen and (max-width: 767.98px){
	.section-content {
		padding-top: 6rem;
	}
}

hr{
	background-color: var(--white);
	opacity: 0.5;
}
i{
	font-size: 1.5rem;
}
.row {
    --bs-gutter-x: 1rem;
}

/* Table */
th,td{
	font-size: 1.4rem;
}

/* -----------------Scroll Start--------------------- */

.scroll {
    overflow-y: scroll;
    height: 50rem;
    width: 100%;
    background-color: var(--bg-color);
    margin: 0 0 1rem 0;
	box-shadow: rgba(0, 0, 0, 0.27) 0 .2rem .7rem;
}
.scroll::-webkit-scrollbar {
    width: .5rem;
}
.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 .6rem rgba(0,0,0,0.3); 
    border-radius: .5rem;
}
.scroll::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    -webkit-box-shadow: inset 0 0 .6rem var(--black); 
}

/* -----------------Scroll End--------------------- */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}




/* ============================MAINTOP START=============================== */

.maintop{
	background-color: var(--blue);
	color: var(--white);
	padding: 1rem;
	height: 4rem;
	z-index: 100;
	position: relative;
	width: 80%;
	left: 20%;
}
.fullmaintop{
	width: 100%;
	left: 0;
}
.topcontact{
	display: flex;
	float: left;
	font-size: 1.4rem;
}
.gbmail i {
	padding-right: .8rem;
}
.gbcontact{
	margin-left: 2rem;
}
.catalog{
	color: var(--white);
	float: right;
	font-weight: bolder;
	text-decoration: none;
}
.catalog:hover{
	color: var(--bg-color);
}

/* ============================MAINTOP END=============================== */


/* ============================HEADER START=============================== */

.topheader{
	width:80%; 
	left: 20%;
	float: right;
	z-index: 100;
	background-color: var(--green);
}
.fulltopheader{
	width: 100%;
	left: 0;
}
header{
	position: fixed;
	width: 100%;	
}

/* Logo */
.adminlogo img{
    width: 3rem;
}

@media only screen and (max-width: 767.98px){

	/* Logo */
	.adminlogo img{
		width: 2.5rem;
	}
}


/* Toogler */

.navbar {
    padding-right: 1rem;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: var(--white);
    padding: 0 2.5rem;
	font-weight: 600;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: var(--bg-color);
}
.navbar-toggler{
    color: var(--white);
}
.navbar-toggler-icon{
    color: var(--white);
	height: 1.5rem;
}
.mainmenu{
    justify-content: center;
}

/* Icons */
.icongroup {
    display: flex;
}
.icongroup i{
    color: var(--white);
    padding: 0 2rem;
}
.icongroup i:hover{
    color: var(--bg-color);
}
.secondnav{
	display: none;
}
.secondnavicongroup{
	display: flex;
}
.secondnavicongroup i{
    color: var(--white);
    padding: 0 2rem;
}
.secondnavicongroup i:hover{
    color: var(--bg-color);
}
@media (min-width: 991.98px) and (max-width: 1335.98px){
	.usertopheader .icongroup{
		display: none;
	}
}


/* Dropdown Menu */
.search-dropdown .selectsearchall{
	padding: 1rem 3.5rem;
	font-size: 1.4rem;
	border: .2rem solid var(--blue);
}
.search-dropdown .selectsearchicon{
	padding: 1rem;
	border: .2rem solid var(--blue);
}
.search-dropdown .selectsearchhere{
	border: .2rem solid var(--blue);
	font-size: 1.4rem;
}
.dropdown-menu {
	width: 15rem;
    background-color: var(--green);
}

.dropdown-menu .dropdown-item {
    color: var(--white);
	font-size: 1.4rem;
    text-align: center;
}
.dropdown-menu .dropdown-item:hover{
    color: var(--blue);
    background-color: var(--bg-color);
}
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:active{
    color: var(--blue);
    background-color: var(--sky);
}
.dropdown-menu[data-bs-popper] {
    left: 0;
    margin-top: 1.8rem;
}
.type .dropdown-menu[data-bs-popper] {
    left: -.5rem;
    margin-top: .1rem;
}
.dropdown i{
    cursor: pointer;
    margin-top: 1rem;
}

.profilelogout[data-bs-popper]{
	margin-top: 1.7rem;
	left: -150%;
}
/* Icons */
.iconsall {
    display: inline-block;
}
.notification{
	position: absolute;
	top: 0;
}
.icongroup {
    display: ruby;
    white-space: nowrap;
}

.unread{
	position: absolute;
	top: 0;
	color: white;
	font-size: 1.2rem;
}
.messages{
	position: relative;
	display: inline;
	margin-top: .7rem;
	padding-left: .7rem;
}
.messages i{
	padding: 0;
}

/* Search Part */
.searchbar{
    position: relative;
  }
  
  .searchbar .searchbox{
    border: 0;
    padding: 0;
    width: 0;
    height: 3.5rem;
    border-radius: .3rem;
    transition: all 0.3s ease;
    background-color: var(--white);
    color: var(--blue);
	font-size: 1.4rem;
  }

  .searchbar .searchicon{
    position: absolute;
    top: 0;
    right: 0;
    width: 3.5rem;
    height: 100%;
    background: none;
    border-radius: .3rem;
    color: var(--white);
    transition: all 0.5s 0.3s ease;
  }
  
  .searchbar .searchicon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
  }
  
  .searchbar .searchicon.active{
    background: var(--black);
    transition: all 0.3s ease;
  }
  
  .searchbar .searchbox.active{
    width: 30rem;
    padding: 0 1rem;
    transition: all 0.5s 0.2s ease;
    border-radius: .5rem;
  }
  .selectdrop{
	background-color: var(--sky)!important;
	width: 10rem;
}
.selectdrop .dropdown-item{
	background-color: var(--sky);
	color: var(--blue);
}
.selectdrop .dropdown-item:hover{
	color: var(--green);
	font-weight: 600;
}
.selectsearch{
	border: .2rem solid var(--blue);
}

.topheader .navbar ul li:nth-last-of-type(-n+2){
	display: none;
}
.fulltopheader .navbar ul li:nth-last-of-type(-n+2){
	display: none;
}
.fulltopheader .navbar ul li:nth-of-type(1n+6) {
    display: none;
}
.fulltopheader .navbar ul li ul li:nth-last-of-type(-n+7){
	display: inline;
}
.topheader .icongroup .iconsall ul li:first-child{
	display: inline;
}
.topheader .icongroup ul li:last-child{
	display: inline;
}
.topheader .navbar ul li ul li:nth-last-of-type(-n+2){
	display: inline;
}
.landheader .navbar ul li:nth-last-of-type(-n+2){
	display: inline;
}
.landheader .navbar ul li:nth-last-of-type(-n+1){
	display: none;
}

/* Header Responsive */
@media only screen and (max-width: 991.98px) {
	.mainmenu{
		justify-content: end;
	}
	.topheader .navbar ul li:nth-last-of-type(-n+2){
		display: inline; 
	}
	.fulltopheader .navbar ul li:nth-last-of-type(-n+3){
		display: inline;
	}
	.fulltopheader .signlog {
		display: none;
	}
	.icongroup {
		display: none;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		padding: 0.5rem;
	}
	.dropdown-menu .dropdown-item {
		color: var(--white);
		font-size: 1.4rem;
		text-align: center;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-left: 5rem;
	}
	.dropdown-menu[data-bs-popper] {
		margin-top: 0.5rem;
	}
	.dropdown-menu {
		width: 50%;
		margin-left: 5rem;
		border: none;
	}
	.dropdown-menu .dropdown-item {
		text-align: left;
	}
}


/* ----------Notification------- */
.top-text-block {
	display: block;
	padding: .3rem 2rem;
	clear: both;
	font-weight: 400;
	color: var(--white);
	white-space: inherit !important;
	border-bottom: .1rem solid var(--bg-color);
	position: relative;
	font-size: 1.2rem;
  }
.panel-body ul li a:hover{
	color: var(--bg-color);
}
  .top-text-block:hover:before {
	content: "";
	width: .4rem;
	background: var(--white);
	left: 0;
	top: 0;
	bottom: 0;
	position: absolute;
  }
  .top-text-block.unread {
	background: var(--white);
  }
  .top-text-block .top-text-light {
	color: var(--bg-color);

  }
  .top-head-dropdown .dropdown-menu {
	width: 35rem;
	height: 22rem;
	overflow: auto;
	margin-left: -30rem;
  }
  .top-head-dropdown li:last-child .top-text-block {
	border-bottom: 0;
  }
  .topbar-align-center {
	text-align: center;
  }
  .loader-topbar {
	margin: .5rem auto;
	border: .3rem solid var(--white);
	border-radius: 50%;
	border-top: .3rem solid var(--white);
	width: 2.2rem;
	height: 2.2rem;
	-webkit-animation: spin-topbar 1s linear infinite;
	animation: spin-topbar 1s linear infinite;
  }
.notifycount{
	top: -1rem;
	position: absolute;
}
#dropdownMenutyy:active .notifycount{
	display: none;
}

  @-webkit-keyframes spin-topbar {
	0% {
	  -webkit-transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	}
  }
  @keyframes spin-topbar {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

.signlog,
.signlog a{
	color: var(--white);
	font-weight: bold;
	text-decoration: none;
}
.signlog a:hover{
	color: var(--bg-color);
}

.signlogup,
.signlogup a{
	color: var(--white);
	font-weight: bold;
	text-decoration: none;
}
.signlogup a:hover{
	color: var(--bg-color);
}
.signlogup{
	display: none;
}

.beforesign{
	width: 40rem;
	background-color: var(--green);
	font-size: 1.3rem;
	color: var(--bg-color)!important;
	margin-left: -15rem;
	padding: .5rem 1rem;
	box-shadow: 0 .1rem .3rem var(--black);
}
.log, .sign{
	color: var(--blue);
	font-weight: 600;
}
.log:hover, .sign:hover{
	color: var(--green);
}


@media (min-width: 991.98px) and (max-width: 1335.98px){
	.secondnav{
		display: inline;
		justify-content: center;
		display: flex;
		padding-bottom: .8rem;
	}
	.secondnav .dropdown ul,
	.secondnav .messages .btn-group ul{
		margin-top: 1.4rem!important;
	}
	.profilelogout[data-bs-popper]{

		left: -150%;
	}

}




/* ============================HEADER END=============================== */


/* ==============SECOND(user-teacher main) HEADER END=============== */

.main-section{
	margin-left: 0;
}

@media only screen and (max-width: 1199.98px){
	.searchbar .searchbox.active {
		width: 20rem;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		padding: 0 2rem;
	}
}
@media only screen and (max-width: 991.98px){
	.navbar-expand-lg .navbar-nav .nav-link {
		padding: 0.5rem 5rem;
	}
	.signlog{
		display: none;
	}
	.signlogup{
		display: inline;
		padding-left: 5rem;
	}
	.beforesign{
		margin-left: 5rem;
	}
}
@media only screen and (max-width: 767.98px){
	.beforesign{
		width: 45rem;
	}
}
@media only screen and (max-width: 575.98px){
	.beforesign{
		width: 40rem;
	}
}
@media only screen and (max-width: 400px){
	.beforesign{
		width: 30rem;
	}
}


/* ==============SECOND(user-teacher main) HEADER END=============== */

/* ============================FOOTER START=============================== */

.bottomfooter{
    padding: 5rem 0;
    background-color: var(--green);
    color: var(--white);
	width: 80%;
	left: 20%;
	z-index: 100;
	position: relative;
}
.fullbottomfooter{
	width: 100%;
	left: 0;
}
/* Logo */
footer img{
    width: 6rem;
}

/* First Column */
.leftlink a{
    color: var(--white);
	padding-left: 0;
}
.leftlink a:hover{
    color: var(--bg-color);
}

/* Second Column */
.follow{
	margin-bottom: 1.5rem;
	font-weight: 600;
}
.sociallink a{
    color: var(--white);
    padding: 0 .8rem;
}
.sociallink a:hover{
    color: var(--bg-color);
}


/* Third Column */

.connect{
	margin-bottom: 1rem;
	font-weight: 900;
}
.footeraddress .gbhome{
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}
.footeraddress .gbhome:hover{
    color: var(--bg-color);
}
.areaaddress{
	margin-top: 1rem;
}

/* Under Footer */
.underfooter{
	background-color: var(--blue);
	padding: 1rem 0;
	color: var(--white);
	text-align: center;
	font-size: 1.4rem;
	width: 80%;
	left: 20%;
	z-index: 100;
	position: relative;
}
.fullunderfooter{
	width: 100%;
	left: 0;
}
i{
	font-size: 1.5rem;
}
.uparrow{
	float: right;
	color: var(--black);
	background-color: var(--white);
	padding: .3rem .6rem;
	border-radius: 50%;
}
.uparrow:hover{
	color: var(--blue);
	background-color: var(--bg-color);
}

/* -----Footer Responsive----- */

/* XS to Small Device */
@media only screen and (max-width: 991.98px) {
	/* Logo */
	footer img{
		display: none;
	}
	hr{
		display: none;
	}

	/* First Column */
	.leftlink{
		margin-bottom: 3rem;
	}
	.footeraddress .gbhome{
		font-size: 1.6rem;
	}

	/* Second Column */
	.follow{
		font-size: 1.6rem;
	}
	.sociallink{
		text-align: right;
		margin-bottom: 3rem;
	}

	/* Third Column */
	.footeraddress{
		text-align: center;
	}
}


/* Small to Medium  Device */
@media only screen and (max-width: 991.98px){

	/* Logo */
	footer img{
		display: block;
	}
	hr{
		display: block;
	}
}
@media only screen and (max-width: 575.98px){
	/* Second Column */
	.sociallink{
		text-align: left;
	}

	/* Third Column */
	.footeraddress{
		text-align: left;
	}
}

/* ============================FOOTER END=============================== */



/* =======================Dashboard========================== */

/* ---------Sidebar Navigation Start--------- */

.sidebar{
	width: 20%;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 100; 
	background: var(--black);
	transition: width 300ms;
	padding-top: 2rem;
  }
  .dashboadheader{
	  display: none;
  }

  .profilehere,
  .profilehere img {
	  position: relative;
	  width: 8rem;
	  height: 8rem;
	  border-radius: 50%;
	  margin: 2rem 0rem 0rem 2rem;
	  cursor: pointer;
	}
	.psecondary {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  height: 100%;
	  width: 100%;
	  border-radius: 50%;
	  opacity: 0;
	  margin: 2rem 0rem 0rem 2rem;
	  transition: .3s ease;
	  background-color: var(--bg-color);
	}
	.profilehere:hover .psecondary, .profilehere .prod{
	  opacity: 1;
	  background-color: rgba(220, 220, 221, .7);
	  border: .2rem solid var(--green);
	}
	.profiletext {
	  color: var(--blue);
	  font-weight: 600;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  -webkit-transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	  text-align: center;
	}


.namepart{
    margin: 3rem 0rem 3rem 3rem;
}
.sidename{
	font-weight: 600;
	color: var(--white);

}
.sideusername{
	color: var(--white);
	font-size: 1.4rem;
}

  .sidebarmenu li{
	width: 100%;
  }
  .sidebarmenu ul li i{
	  padding-right: 1rem;
  }
  .sidebarmenu{
	margin-top: 1rem;
  
  }
  /* hide scrollbar but allow scrolling */
  .sidebar {
	  -ms-overflow-style: none; /* for Internet Explorer, Edge */
	  scrollbar-width: none; /* for Firefox */
	  overflow-y: scroll; 
  }
  
  .sidebar::-webkit-scrollbar {
	  display: none; /* for Chrome, Safari, and Opera */
  }
  
  .sidebarmenu a{
	padding-left: 1rem;
	display: block;
	color: var(--white);
  }

  .main-content{
	transition: margin-left 300ms;

  }
  .dashboadheader{
	background: var(--white);
	display: none;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, 0.2);
	width: 100%;
	transition: left 300ms;
	}
  
  #nav-toggle{
	display: none;
  }
  .dashboadheader h2{
	color: var(--black);
  }
  .dashboadheader label span{
	font-size: 1.7rem;
	padding-right: 1rem;
  }
  
  main{
	padding: 0rem 0.5rem 5rem 0.5rem;
	background: var(--bg-color);
	min-height: calc(100vh - 9rem);
	left: 20%;
	position: relative;
	width: 80%;
  }
  
.dashnav {
	display: flex;
	align-items: center;
}
.dashboadheader a {
    color: var(--blue);
}
.dashnav h3{
	margin: 5rem 0rem 1rem 0rem;
	font-weight: 900;
	color: var(--blue);
}
.cards{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
	margin-top: 1rem;
  }
  .listall{
	display: flex;
	justify-content: space-between;
	background: var(--white);
	padding: 2rem;
	margin: .5rem 0rem;
	border-radius: 1rem;
	box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.1), 0 .4rem .8rem 0 rgba(0, 0, 0, 0.1);
  }

@media only screen and (max-width: 767.98px){
	.listall{
		padding: 1.5rem;
	}
}
@media only screen and (max-width: 575.98px){
	.listall{
		padding: 1rem;
	}
	.dashboadheader{
		padding: 1rem;
	}
}

.listall .count{
	font-weight: 600;
	font-size: 2.3rem;
}
.listall .count,
.listall span{
	color: var(--black);
}
.demoicon img{
	width: 5rem;
	float: right;
}

@media only screen and (max-width: 767.98px){
	.listall .count{
		font-size: 2rem;
	}
	.demoicon img {
		width: 4.5rem;
	}
}
@media only screen and (max-width: 575.98px){
	.listall .count{
		font-size: 1.6rem;
	}
	.demoicon img {
		width: 4rem;
	}
}

a:link{
	text-decoration: none!important;
	cursor: pointer;
}


  @media only screen and (max-width: 1199.98px){

	.sidebar{
		width: 22%;
	}
	main, .maintop, .topheader, .bottomfooter, .underfooter {
		left: 22%;
		width: 78%;
	}
	.fulltopheader, .fullmaintop, .fullbottomfooter, .fullunderfooter {
		width: 100%;
		left: 0;
	}
  }

  @media only screen and (max-width: 991.98px){
	.maintop{
		display: none;
	}
	main {
		left: 0;
		width: 100%;
	}
	.topheader{
		top: 0;
		width: 100% !important;
		left: 0 !important;
		z-index: 1000;
		position: fixed;
	}
	.sidebar {
		left: -100% !important;
		opacity: .95;
		padding-top: 10rem;
	}
	.main-content{
	  width: 100%;
	  margin-left: 0rem;
	}
	.dashboadheader{
		z-index: 100;
		position: fixed;
		width: 100% !important;
		top: 9%;
		display: flex;
	}
	.main-content header{
		width: 100%;
	}

	#nav-toggle:checked + .sidebar{
	  left: 0 !important;
	  z-index: 100;
	  width: 33%;
	}

	#nav-toggle:checked .sidebar .sidebar-brand,
	#nav-toggle:checked + .sidebar li 
	{
	  text-align: left;
	}
  
	#nav-toggle:checked + .sidebar li a
	{
	  padding-left: 1rem;
	}
	#nav-toggle:checked + .sidebar li ul li a
	{
	  padding-left: 4rem;
	}
	#nav-toggle:checked + .sidebar li ul li a:hover,
	#nav-toggle:checked + .sidebar li ul li a.activesub
	{
	  padding-left: 6rem;
	  transition: all 0.2s ease;
	}
	#nav-toggle:checked + .sidebar .sidebarmenu ul li a span,
	#nav-toggle:checked + .sidebar .sidebarmenu li ul li{
	  display: inline;
	}
	#nav-toggle:checked ~ .main-content{
	  margin-left: 0rem !important;
	}
	.bottomfooter,
	.underfooter{
		z-index: 1;
		width: 100%;
		left: 0;
	}
}


  @media only screen and (max-width: 767.98px){
	.dashboadheader{
		top: 7.5%;
	}
	#nav-toggle:checked + .sidebar{
		width: 37%;
	  }
  }

  @media only screen and (max-width: 575.98px){
	.dashboadheader{
		top: 7.3%;
	}
	#nav-toggle:checked + .sidebar{
		width: 50%;
	  }
  }
  
  @media only screen and (max-width: 400px){
	#nav-toggle:checked + .sidebar{
		width: 70%;
	  }
  }

.sidebar ul li a{
    font-weight: 500;
    color: var(--white);
	padding: .7rem 1.5rem;
}

.sidebar ul li a:hover,
.sidebar ul li a.active,
.sidebar ul li a:focus{
    color: var(--blue);
	background-color: var(--bg-color);
	border-right: .5rem solid var(--blue);
}

.sidebar ul li ul li a{
	color: var(--black);
	background-color: var(--white);
	padding-left: 4rem;
}

.sidebar ul li ul li a:hover,
.sidebar ul li ul li a.activesub{
    color: var(--green);
    border: none;
    background-color: var(--bg-color);
    border: .2rem solid var(--green);
    border-right: .5rem solid var(--green);
    padding-left: 6rem;
    transition: all 0.3s ease-out;
}

ul{
	padding-left: 0;
}

ul li i{
	padding-right: 1rem;
}


/* ----------Sidebar Navigation End------------- */


/* ----------Dashboard Section Start------------- */

.mainbar{
	background-color: var(--sky);
	padding: 2rem;
	border-radius: .016rem;
	box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.2), 0 .4rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.maingroup {
    justify-content: center;
    width: 60%;
    left: 20%;
    padding: 4rem 0rem;
	padding-top: 13rem;
}

@media only screen and (max-width: 991.98px){
	.maingroup{
		padding-top: 15rem;
	}
}

.searchicon {
    padding: .5rem 1rem;
    background-color: var(--white);
    cursor: pointer;
}
.searchmain {
    border: none;
}

/* Topsection of Dashboard */
.dashboadheader a{
	color: var(--blue);
}
.dashboadheader a:last-child:hover{
	color: var(--green);
}

/* Main Data Dashboard */
.data{
	border-radius: 1%;
	background-color: var(--white);
	padding: .8rem 1.6rem;
	margin: 1rem 0;
	color: var(--black);
}
.dashboard h3{
	font-weight: 900;
	margin-bottom: 1rem;
}
.dashboard h3:last-of-type{
	margin-top: 3rem;
}


/* ----------Dashboard Section End------------- */

/* ----------Item Section Start------------- */

.allitem{
	padding-top: 10rem;
}
.itmestitle{
	color: var(--blue);
	text-align: center;

	font-weight: 900;
}
.itmestitle img{
	width: 10rem;
	margin-bottom: 1rem;
}
.items{
	display: flex;
	justify-content: center;
	margin-bottom: 4rem;
}
.returnstatus{
	background-color: var(--blue);
	color: var(--white);
	width: 30rem;
	font-weight: 900;
	text-align: center;
	padding: 1rem 0;
	border-radius: .3rem;
}

@media only screen and (max-width: 991.98px){
	.allitem{
		padding-top: 13rem;
	}
}

@media only screen and (max-width: 575.98px){
	.returnstatus{
		width: 25rem;
		padding: .7rem 0;
	}
	.allitem{
		padding-top: 12rem;
	}
}

/* ----------Item Section End------------- */

/* ----------Book List Section Start------------- */
/* Table Section */

thead tr{
	background-color: var(--blue)!important;
	color: var(--white);

}
table th {
    position: sticky;
    top: 0;
	background-color: var(--blue)!important;
}
tr:nth-child(odd) {background: var(--sky); border-color: var(--bg-color);}
tr:nth-child(even) {background: var(--white); border-color: var(--bg-color);}

table {
	width: 100%;
	table-layout: fixed;
  }

thead th{
	font-weight: 700;
	color: var(--white);
	padding: 1rem 0.5rem;
	text-align: center;

}
th{
	border-color: var(--bg-color);
}

td{
	padding: .5rem;
	color: #222;
	text-align: center;
	border-color: var(--bg-color);
}

tbody tr img{
	width: 6rem;
	height: 8rem;
}

/* Table Responsive */

@media only screen and (max-width: 767.98px) {
	table {
	  border: 0;
	}
	
	table thead {
	  border: none;
	  clip: rect(0 0 0 0);
	  height: .1rem;
	  margin: -.1rem;
	  overflow: hidden;
	  padding: 0;
	  position: absolute;
	  width: .1rem;
	}
	
	table tr {
	  display: block;
	  margin-bottom: .8rem;
	}

	tr:nth-child(odd) td {border-bottom: .1rem solid var(--white);}
	tr:nth-child(even) td {border-bottom: .1rem solid var(--bg-color);}

	table td {
	  display: block;
	  font-size: 1.4rem;
	  text-align: right;
	}
	
	table td::before {
	  /*
	  * aria-label has no advantage, it won't be read inside a table
	  content: attr(aria-label);
	  */
	  content: attr(data-label);
	  float: left;
	  font-weight: bold;
	  text-transform: uppercase;
	}
	
	table td:last-child {
	  border-bottom: 0;
	}
  }


  @media screen and (max-width: 575.98px) {
	table {
	  border: 0;
	}
  
	table caption {
	  font-size: .1rem;
	}
	
	table thead {
	  border: none;
	  clip: rect(0 0 0 0);
	  height: .1rem;
	  margin: -.1rem;
	  overflow: hidden;
	  padding: 0;
	  position: absolute;
	  width: .1rem;
	}
	
	table tr {
	  border-bottom: .3rem solid #ddd;
	  display: block;
	  margin-bottom: 1rem;
	}
	
	table td {
	  border-bottom: .1rem solid #ddd;
	  display: block;
	  font-size: 1.4rem;
	  text-align: right;
	}
	
	table td::before {
	  /*
	  * aria-label has no advantage, it won't be read inside a table
	  content: attr(aria-label);
	  */
	  content: attr(data-label);
	  float: left;
	  font-weight: bold;
	  text-transform: uppercase;
	}
	
	table td:last-child {
	  border-bottom: 0;
	}
  }
  
  


/* ----------Book List Section End------------- */


/* ----------Add Book Section Start------------- */
/* Form Section */
form{
	margin: 2rem 0;
}
.formpart{
	justify-content: center;
	margin-bottom: 1.5rem;
}
.formpart label{
	color: var(--blue);
	font-weight: 600;
}

.formclass,
.selecthere{
	padding: 1rem;
	color: var(--green);
	font-size: 1.4rem;
	font-weight: 500;
}
.formcheckhere{
	justify-content: center;
	display: flex;
}
.selecthere .value:hover{
	background-color: var(--blue);
}
.texthere{
	border: none;
	border-radius: .016rem;
	width: 100%;
	font-size: 1.4rem;
	margin-top: .1rem;
}

/* Small to Medium Device */
@media only screen and (max-width: 767.98px){
	.formpart label{
		font-size: 1.4rem;
	}
	.formclass, .selecthere {
		padding: .8rem;
	}
	.formpart {
		margin-bottom: 1.2rem;
	}
}
@media only screen and (max-width: 575.98px){
	.formclass, .selecthere {
		padding: .6rem;
	}
	.formpart {
		margin-bottom: .8rem;
	}
}

/* Button Section */
.btn{
	margin: .2rem 0;
	padding: .5rem;
	display: inline-block;
}
.btncancel,
.btnsave{
	border: .1rem solid var(--blue);
	background-color: var(--white);
	color: var(--blue);
	font-size: 1.4rem;
	font-weight: 600;
	width: 10rem;
	margin: 0 .3rem;
	border-radius: .3rem;
}
.btnsave{
	background-color: var(--blue);
	border: .1rem solid var(--blue);
	color: var(--white);

}

.btncancel:hover{
		color: var(--black);
}
.btnsave:hover{
	color: var(--bg-color);
}
.btnupdate{
	border: .1rem solid var(--blue);
	background-color: var(--blue);
	color: var(--white);
	font-size: 1.4rem;
	font-weight: 600;
	width: 15rem;
}
@media only screen and (max-width: 575.98px){
	.btnupdate{
		width: 10rem;
	}
}
.btnsubmit{
	background-color: var(--blue);
	border: .1rem solid var(--blue);
	color: var(--white);
	font-size: 1.4rem;
	font-weight: 600;
	width: 10rem;
}
.btnsubmit:hover{
	color: var(--bg-color);
}
.editupdate,
.editcancel{
	width: 10rem;
	color: var(--white);
	background-color: var(--blue);
	font-size: 1.4rem;
	font-weight: 600;
	margin: 0 .3rem;
}
.editcancel{
	background-color: var(--black);
}
.editupdate:hover,
.editcancel:hover{
	color: var(--bg-color);
}
@media only screen and (max-width: 767.98px){
	.editupdate,
	.editcancel {
		font-size: 1.2rem;
	}
}

.savecancel {
    right: 8%;
    position: absolute;
	margin-top: 0.5rem;
}

@media only screen and (max-width: 991.98px){
	.savecancel {
		right: 10%;
	}
}
@media only screen and (max-width: 767.98px){
	.btnsubmit{
		margin: 0 0.3rem;
	}
	.savecancel {
		margin-top: 2rem;
		position:unset;
		justify-content: center;
		display: flex;
	
	}
}

/* ----------Add Book Section End------------- */



/* ----------Remove Book Section Start------------- */


.removebook thead tr th:first-child{
	width: 10%;
	text-align: left;
}
.removebook tbody tr td:first-child{
	text-align: left;
}
.removebook thead tr th:nth-child(2){
	width: 30%;
	text-align: left;
}
.removebook th,
.removebook td{
	text-align: left;
}

@media only screen and (max-width: 767.98px){
	.removebook thead tr th:first-child{
		text-align: right;
	}
	.removebook tbody tr td:first-child{
		text-align: right;
	}
	.removebook thead tr th:nth-child(2){
		text-align: right;
	}
	.removebook th,
	.removebook td{
		text-align: right;
	}
}



/* Book Name */

.removetitle,
.updatetitle{
	font-size: 1.6rem;
	color: var(--blue);
	font-weight: 900;
}


.remove{
	color: var(--black);
	font-weight: 500;
	text-decoration: none;
}
.remove:hover{
	color: var(--green);
}

/* Description */
.authorname{
	color: var(--green);
	text-decoration: none;
}
.authorname:hover{
	color: var(--green);
}
.removedescription,
.renewdescription{
	width: 100%;
	display: inline-block;
}
@media only screen and (max-width: 767.98px){
	.removedescription,
	.renewdescription{
		width: 80%;
	}
}


/* ----------Remove Book Section End------------- */



/* ----------Renew Book Section Start------------- */

.update{
	color: var(--green);
	font-weight: 500;
	text-decoration: none;
}
.update:hover{
	color: var(--black);
}

/* ----------Renew Book Section End------------- */


/* ----------Issue Request Section Start------------- */

.approve{
	width: 6.5rem;
	font-size: 1.2rem;
	background-color: var(--green);
	color: var(--white);
	font-weight: bold;
}
.reject{
	width: 6.5rem;
	font-size: 1.2rem;
	background-color: var(--black);
	color: var(--white);
	font-weight: bold;
}
.approve:hover,
.reject:hover{
	color: var(--sky);
}

/* Approve-Reject Modal Part */

.modal-content{
	padding: 3rem;
}
.checkapprove{
	text-align: center;
	color: var(--blue);
}
.checkapprove i{
	font-size: 2rem;
}
.checkapprove h2{
	font-weight: bold;
	display: inline;
}

@media only screen and (max-width: 767.98px){
	.modal-content{
		padding: 2rem;
	}
}
@media only screen and (max-width: 575.98px){
	.modal-content{
		padding: 1rem;
		width: 70%;
	}
	.modal-dialog{
		justify-content: center;
	}
}

/* ----------Issue Request Section End------------- */



/* ----------Borrowed Section Start------------- */

.allitembtn,
.wishstatusbtn{
	width: 10rem;
	font-size: 1.2rem;
	font-weight: bold;
	background-color: var(--green);
	color: var(--white);
}
.allitembtn:hover{
	color: var(--bg-color);
}
.wishstatusbtn{
	width: 8rem;
}
.notissue{
	background-color: var(--black);
	color: var(--white);
}
.wishremove{
	background-color: var(--black);
	color: var(--white);
}
.notissue:hover,
.wishremove:hover,
.wishstatusbtn:hover{
	color: var(--bg-color);
}

/* ----------Borrowed Section End------------- */


/* ----------Teachers Section Start------------- */

/* Action Icon */
.view{
	color: var(--green);
}
.writemessage{
	color: var(--blue);

}
.ban{
	color: var(--black);
}
tbody tr td i{
	padding: .3rem;
}

/* Modal Part */
#removeModal{
	text-align: center;
}
#removeModal i{
	font-size: 1.8rem;
	color: var(--blue);
	margin-bottom: 1rem;
}
#removeModal p{
	color: var(--green);
	font-size: 1.6rem;
}

/* Modal Footer */
.modal-footer{
	border-top: none;
	justify-content: center;
}
.modal-footer .yesno{
	width: 7rem;
	font-size: 1.4rem;
	border: .1rem solid var(--blue);
	color: var(--blue);
}
.modal-footer .yesno:hover{
	color: var(--white);
	border: .1rem solid var(--blue);
	background-color: var(--blue);
}

/* ----------Teachers Section End------------- */


/* ----------Return Request Section Start------------- */

.returnrequestnbtn{
	font-size: 1.2rem;
	font-weight: bold;
	background-color: var(--green);
	color: var(--white);
	padding: .5rem 1rem;
}
.returnrequestnbtn:hover{
	color: var(--bg-color);
}


/* ----------Return Request Section End------------- */


/* Start Conversation */
.texthereall{
	background-color: var(--white);
}
/* Every Message */
.openmessagepropic img{
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
}
.openmessage{
	padding: 2rem 2rem 0.5rem 2rem;
	border-radius: .3rem;
}
.openmessagebox{
	margin: .5rem 0;
}
.openmessagepropic{
	display: flex;
}
.openmessagepropic p{
	padding: .5rem 1.5rem;
}

.openmessagetake p{
	padding: 0rem 1rem;
}
.openmessagebox .rtime{
	font-size: 1.3rem;
	color: var(--blue);
	text-align: end;
}
.start{
	text-align: center;
	color: var(--blue);
	font-weight: 900;
	margin-bottom: 1rem;
}
.ltext{
	float: left;
}
.rtext{
	float: right;
}
.rtext p{
	text-align: end;
}
.openmessagebox .ltime{
	font-size: 1.3rem;
	color: var(--blue);
	text-align: start;
}


@media only screen and (max-width: 1335.98px){
	.start{
		margin-top: 3rem;
		margin-bottom: 2rem;
		font-size: 1.8rem;
	}
}
@media only screen and (max-width: 991.98px){
	.start{
		margin-top: 1rem;
		margin-bottom: 2rem;
	}
}


/* Type and Send */

.typesend{
	border-top: .1rem solid #707070;
	padding: .8rem 2rem;
	margin-top: 2rem;
}
.type{
	font-size: 1.4rem;
	border: none;
}
.type::placeholder{
	color: rgba(3, 37, 108, .7);
}
.send{
	float: right;
	color: var(--green);
	border: none;
	background-color: var(--white);
}
.typesend .send i:hover{
	color: var(--black);
}



/* ----------Message Open Section End------------- */



/* ------------Profile------------- */

.accountimg{
	justify-content: center;
	display: flex;
}
.accountimg img{
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
}
.info{
	color: var(--blue);
	font-weight: 900;
	margin-bottom: .5rem;
}
.activestatus{
	padding: 1rem 0;
	text-align: center;
}

.activeprofile{
	background-color: var(--green);
	color: var(--white);
	padding: 0.2rem 1rem;
	border-radius: 2rem;
}

.infolog{
	justify-content: center;
	display: flex;
	margin-bottom: 3rem;
}
.information{
	padding: 1rem 0;
	background-color: var(--green);
	color: var(--white);
	text-align: center;
	width: 20rem;
	border-radius: 2rem;
}



/* ----------Change Profile Picture--------- */

.profileuser {
	justify-content: center;
	display: flex;
	margin-bottom: 2rem;
	position:relative;
	text-align: center;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}
.profileuser img{
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
}
.profileuser .changehere{
	position: absolute;
	top: 75%;
	padding: .3rem .9rem;
	color: var(--black);
	font-size: 1.4rem;
	background-color: var(--sky);
	box-shadow: 0 .1rem .3rem var(--black);
}



/* ==================== */
/* landing page */
/* ==================== */
/* header-top */

.heremainpart{
	margin: 5rem 0;
}
.extramainpart{
	margin-top: 10rem;
}
.typeshere{
	padding: 0 2rem;
}
.nedpart{
	margin-top: 20rem;
	margin-bottom: 15rem;
}
.leftpadd{
	padding-left: 1rem;
}
.landtopbg{
	background-image:url(../img/r.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:55rem;
	margin-top: 5rem;
}
.landtop{
	margin-top: -15rem;
	z-index: 15;
	position: relative;
}
.topop{
	padding: 10rem;
	background-color: rgba(184, 198, 226, .8);
}
.landbottom{
	margin-top: 23.2rem;
}
.bottomop{
    padding: 2rem;
    background-color: rgba(255, 255, 255, .8);
    margin-top: 5.2rem;
    position: absolute;
}

.header-text {
	color:var(--blue);
	text-shadow: .2rem .1rem .1rem var(--blue);
	font-size:4rem;
	font-weight: bolder;
	z-index: 10;
	position: relative;
	text-transform: uppercase;
	text-align: center;
}
.eventtitlehere{
	text-transform: uppercase;
	font-size: 1.8rem;
	margin-bottom: 1rem;
	font-weight: 600;
}
.eventsubhere{
	text-transform: uppercase;
	font-size: 1.4rem;
	margin: .3rem 0;
}

.search-box {
	background-color:var(--white);
	padding: 1rem;
	border-radius: .3rem;
	justify-content: center;
	margin-top: 6rem;
	background-color: var(--bg-color);
}
.search-box .input-group input {
    font-size: 1.4rem;
}
.searchhere{
	text-transform: uppercase;
	padding: 1rem 2.5rem;
	background-color: var(--blue);
	color: var(--white);
	font-size: 1.4rem;
	font-weight: 600;
}
.searchhere:hover{
	color: var(--bg-color);
}
.button-class {
	background-color:var(--blue);
	color:var(--white);
}

/* header second part */
.div1-background {
    background-color: var(--sky);
    padding: 1rem 0;
    width: 40rem;
    margin-top: 5.1rem;
    position: relative;
    z-index: 15;
}
.datehere {
	color: var(--blue);
	font-weight:bolder;
	text-transform: uppercase;
	text-align: center;
}
.div2-background {
	background-color:var(--green);
	padding: 1rem 0;
}
.div2-background,.text-color2 {
	color: var(--white);
	text-align: center;
	text-transform: uppercase;
}
.div2-backgroundmain{
	background-color: var(--white);
}

/* third header part */
.text-color3 {
	color:var(--blue);
	font-weight:700;
	text-transform: uppercase;
	text-align: center;
}
.text-color4 {
	color:var(--blue);
	text-align: center;
	margin: 3rem 0;
}
.open{
	margin-top: 1rem;
}
.workonline{
	padding: 5rem 0;
	background-color: white;
}
.blank-background {
	background:var(--sky);
	height: 10rem;
}

/* exploring section in landing page */
.exploring-section {
	background-color:var(--green);
	padding: 1.5rem 0;
}
.text-color5 {
	font-weight:700;
	text-transform: uppercase;
	text-align: center;
	color: var(--white);
}
.explore-button {
	background-color:var(--blue);
	padding: 1rem 0;
	color: var(--white);
	font-size: 1.4rem;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 5rem;
	width: 20rem;
}
.explore-button:hover{
	color: var(--bg-color);
}


/* Main section */
.mainmiddle {
	background-color: var(--white);
}
/* event section */
.event-background {
	background:linear-gradient(70deg,rgba(45,45,45,.3) ,rgba(30,111,92,.5));
	margin-top: 7rem;
	margin-bottom: 2rem;
	padding: 2rem 0;
}
.event-text {
	color:var(--blue);
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}
.event-left-side-bg {
	background: linear-gradient(127deg, rgba(3, 37, 108, .5), rgba(30, 111, 92, .5));
	height: 33rem;
}
.event-right-side-bg1 {
	background: linear-gradient(127deg, rgba(3, 37, 108, .5), rgba(30, 111, 92, .5));
	height: 16rem;
	margin-bottom: 1.1rem;
}
/* corona */

.coup{
	margin-top: 10rem;
}
.corona {
	background-image:url(../img/corona.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height:30rem;
	margin-bottom: 5rem;
}
.corona-text {
	background-color: rgba(184, 198, 226, 0.9);
	color:var(--blue);
	font-weight: bolder;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	padding: 2rem 0;
	margin-bottom: 1rem;
}

.corona-button {
	background-color:var(--blue);
	text-align: center;
	color: var(--white);
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 600;
	width: 15rem;
	padding: .6rem 0;
}
.corona-button:hover{
	color: var(--bg-color);
}


/*=========== Landing responsive ==========*/


@media only screen and (max-width: 991.98px){
	.landtopbg{
		height: 45rem;
	}
	.landbottom {
		margin-top: 13.3rem;
	}
	.header-text{
		font-size: 3.5rem;
	}
	.searchhere{
		padding: .8rem 2rem;
	}
	.bottomop{
		margin-top: 6.2rem;
	}
	.div1-background{
		margin-top: 6.1rem;
	}
	.event-left-side-bg{
		margin-bottom: 1rem;
	}
}

@media only screen and (max-width: 767.98px){
	.header-text{
		font-size: 3rem;
	}
	.searchhere{
		padding: .5rem 2rem;
		font-size: 1.2rem;
	}
	.bottomop,.div1-background {
		margin-top: 7.6rem;
	}
	.workonline {
		padding: 3rem 0;
	}
	.blank-background {
		height: 5rem;
	}
	.explore-button{
		width: 15rem;
		padding: .8rem 0;
	}
	.event-background{
		margin-top: 0;
	}
}

@media only screen and (max-width: 575.98px){
	.header-text{
		font-size: 2.5rem;
	}
	.bottomop,.div1-background {
		margin-top: 8.2rem;
	}
}



/* ==================== */
/* explore page */
/* ==================== */
/* header part */
.exploretop img{
	height: 20rem;
	z-index: 1;
	opacity: .2;
	position: relative; 
	left: 50%;
	transform: translateX(-50%);
}
.abouttext{
	position: absolute;
	margin-top: 6rem;
	color: var(--blue);
	text-shadow: .2rem .1rem .1rem var(--blue);
	font-size: 4rem;
	font-weight: bolder;
	text-transform: uppercase;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.exploretop{
	margin-bottom: 2rem;
}

/* we are section */
.we-are-section {
	background-color:var(--blue);
	padding: 2rem 0;
}
.we-are {
	font-weight:900;
	text-decoration:none;
	font-size: 1.8rem;
	text-align: center;
	color: var(--white);
}
.whoweare {
	font-weight:bolder;
	text-decoration:none;
	font-size: 1.8rem;
	color:var(--blue);
}
.parthere{
	text-align: center;
}
.valuehere{
	margin-top: 3rem;
	margin-bottom: 0;
}
.we-are:hover{
	color: var(--bg-color);
}

.who-we hr {
	color:var(--blue);
	height:0.2rem;
}
.wefull{
	margin-top: 5rem;
}
.value{
	margin-top: 1.5rem;
}
.motto{
	padding-top: 3rem;
}
.vission{
	margin-top: 1.5rem;
	margin-bottom: 4rem;
}

/* gallery */
.gallery-col {
	height:60rem;
}



@media only screen and (max-width: 991.98px){
	.we-are, .whoweare {
		font-size: 1.6rem;
	}
	.abouttext{
		font-size: 3.5rem;
	}
}
@media only screen and (max-width: 767.98px){
	.abouttext{
		font-size: 3rem;
	}
	.parthere{
		padding: .5rem 0;
	}
}
@media only screen and (max-width: 575.98px){
	.abouttext{
		font-size: 2.5rem;
	}
}


/* header part */
.container-explore {
	background-image:url(../img/open-book-icon-19.png);
	background-repeat:no-repeat;
	width:61rem;
	margin-left:-6rem;
	margin-top:3rem;
	margin-bottom:7rem;
	opacity:0.2;
}
.about-libray {
	margin-top:-35rem;
	font-size:6rem;
	font-weight:700;
}

/* ==================== */
/* Home page after login */
/* ==================== */

.homeafter{
	margin-top: 15rem;
}
.search-dropdown {
	margin-bottom: 8rem;
}
.search-dropdown button {
	background-color:var(--sky);
	color:var(--blue);
}
.search-dropdown button ul {
	color:var(--blue);
}
.dropdown-menu {
	background-color: var(--green);
	color:var(--blue);
}
.dropdown-menu a {
	background-color:var(--green);
	color: var(--white);
	text-decoration: none;
}


.carousul-header{
	background-color: var(--blue);
	margin-bottom: 5rem;
}
.slider-h1{
	color: var(--white);
	text-align: center;
	padding: 2rem 0;
	font-weight: 600;
}
.slider img{
	cursor: pointer;
}
.slidetext{
	text-align: center;
	color: var(--blue);
	font-weight: 600;
	margin-top: 2rem;
	font-size: 1.6rem;
}
.slide h2{
	font-weight: 900;
	margin-bottom: 1rem;
	font-size: 2.2rem;
}
.arrivalitem{
	margin-top: 3rem;
	text-align: center;
}
.arrivepic{
	width: 18rem;
	height: 22rem;
	padding: 0 1.5rem;
}

  /* Slider Start */
  
  .slick-slide {
	  margin: 0 2rem;
  }
  
  .slick-slide img {
	  width: 100%;
  }
  
  .slick-slider
  {
	  position: relative;
	  display: block;
	  box-sizing: border-box;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
			  user-select: none;
	  -webkit-touch-callout: none;
	  -khtml-user-select: none;
	  -ms-touch-action: pan-y;
		  touch-action: pan-y;
	  -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
	  position: relative;
	  display: block;
	  overflow: hidden;
	  margin: 0;
	  padding: 0;
  }
  .slick-list:focus
  {
	  outline: none;
  }
  .slick-list.dragging
  {
	  cursor: pointer;
	  cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
	  -webkit-transform: translate3d(0, 0, 0);
		 -moz-transform: translate3d(0, 0, 0);
		  -ms-transform: translate3d(0, 0, 0);
		   -o-transform: translate3d(0, 0, 0);
			  transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
	  position: relative;
	  top: 0;
	  left: 0;
	  display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
	  display: table;
	  content: '';
  }
  .slick-track:after
  {
	  clear: both;
  }
  .slick-loading .slick-track
  {
	  visibility: hidden;
  }
  
  .slick-slide
  {
	  display: none;
	  float: left;
	  height: 100%;
	  min-height: .1rem;
  }
  [dir='rtl'] .slick-slide
  {
	  float: right;
  }
  .slick-slide img
  {
	  display: block;
  }
  .slick-slide.slick-loading img
  {
	  display: none;
  }
  .slick-slide.dragging img
  {
	  pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
	  display: block;
  }
  .slick-loading .slick-slide
  {
	  visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
	  display: block;
	  height: auto;
	  border: .1rem solid transparent;
  }
  .slick-arrow.slick-hidden {
	  display: none;
  }

  /* Slider End */


/* gono publication */

.firstcorner{
	margin-top: 10rem;
}
.cornertitle{
	font-weight: 600;
	color: var(--white);
	font-size: 2.2rem;
	margin-bottom: 1rem;
}
 .publication-img {
	background-image:url(../img/class-room.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	height:25rem;
	margin-top: 3rem;
}
.publiccorner {
	background:	rgba(3, 37, 108, .7);
	color: var(--white);
	padding: 2rem;
	align-items: center;
	display: flex;
}

/* library-collection */
 .library-collection {
	background:linear-gradient(var(--green), var(--blue));
	margin-top: 5rem;
	padding: 5rem 0;
	color: var(--white);
}

.collectionhere{
	font-weight: 900;
	text-align: center;
	margin-bottom: 3rem;
}
.collectioncount{
	font-size: 2.2rem;
	text-shadow: .1rem .1rem var(--white);
	font-weight: 900;
}

@media only screen and (max-width: 991.98px){
	.slider-h1, .event-background{
		padding: 1rem 0;
	}
	.arrivepic {
		padding: 0;
		height: 25rem;
	}
	.arrivalitem img{
		margin-top: 2rem;
	}
}
@media only screen and (max-width: 767.98px){
	.homeafter {
		margin-top: 13rem;
	}
	.selectdrop{
		width: 13rem;
	}
	.selectdrop .dropdown-item{
		color: var(--blue);
		text-align: center;
	}
}



/* ==================== */
/* Student-registration page */
/* ==================== */
/* login-body */


/* Choose  Registration*/

.button-link{
	background-color: var(--white);
	width: 15rem;
	padding: 1rem 0;
	font-size: 1.6rem;
	border:.1rem solid var(--blue);
	color:var(--blue);
}
.button-link:hover,
.active-button-link{
	background-color: var(--blue);
	border:.1rem solid var(--blue);
	color: var(--white);
}
.choosepart{
	margin-bottom: 5rem;
	justify-content: center;
	display: flex;
}
.bottom-title,.bottompart {
	color:var(--blue);
	font-weight: 600;
	text-align: center;
}
.bottompart{
	margin-top: 2rem;
	text-align: center;
	text-decoration: none!important;
	cursor: pointer;
}
.regcenter{
	text-align: center;
}


/* ==================== */
/* registration choose page */
/* ==================== */
/* regitration-body */
.regitration-choose-body {
	height:50rem;
	width:100rem;
	margin-top:30rem;
	background:var(--sky);
}
.regitration-choose-name{
	margin: 3rem;
	text-align: center;
}
/* ===================== Registration responsive ======================== */

/* ==================== */
/* log_in page */
/* ==================== */
.log_in{
background: var(--sky);
}
.log_in-title{
    margin-bottom: 2rem;
	text-align: center;
	color:var(--blue);
	text-transform: uppercase;
	font-size: 1.8rem;
	font-weight: 600;
}
.log_in-body{
    height:50rem;
	width:100rem;
	margin-top:30rem;
	background:var(--white);
}
.logintext{
    color:var(--blue);
	text-align: center;
	font-weight: 600;
	margin-bottom: 2rem;
	font-size: 1.8rem;
}
.log_in-btn-color{
    background: var(--blue);
    color: var(--white);
}
/* ===================== log_in responsive ======================== */

/* ==================== */
/* after_click-log_in page */
/* ==================== */

.borrowrule,
.borrowrulet{
	margin: 1.5rem 0;
	text-align: center;
	color: var(--green);
	font-weight: 900;
}

.log_in-sub-text{
	margin-top: -5rem;
	color: var(--blue);
}
.after-click-log_in-body hr{
    color: var(--blue);
    height: .3rem;
    width: 80rem;
    opacity: .9;
    margin-bottom:-10rem ;
}
.accept-button{
	background-color: var(--blue);
	
}
.accept-button a{
	
	color: var(--white);
}
.accept-button a:hover{
	
	color: var(--white);
}
input[type="checkbox"] {
    appearance: radio; /* Chrome, Safari, Opera */
}


/* =====================After check in log_in responsive ======================== */

/* ==================== */
/* staf page */
/* ==================== */

.stafftitle{
	color: var(--blue);
	font-weight: 600;
}
.sfont-icon{
	color:var(--green);
	padding: 0 .5rem;
}
.typetitle{
	color:var(--blue);
	font-weight: 900;
	text-align: center;
	font-size: 2.2rem;
	margin-top: 2rem;
}
.staffsub-title{
	color:var(--green);
	font-size: 1.4rem;
	padding: .5rem 0;
}
.stafft{
	margin-top: 5rem;
}
.hr-border{
	height: .2rem !important;
	background-color:var(--blue);
	opacity: 1;
}
@media only screen and (max-width: 767.98px){
	.stafft{
		text-align: center;
	}
}


/* ==================== */
/* EBOOK page */
/* ==================== */
.icon{
	margin-top: 7rem;
	width: 1rem;
	margin-left:.1rem ;
}
.booktitle{
	color: var(--blue);
	font-weight: 900;
}
.booksubtitle{
	padding: .3rem 0;
	font-size: 1.4rem;
}
.booksubtitlegreen{
	color: var(--green);
}
.booketype{
	color: var(--black);
	text-transform: uppercase;
}
.downloadhere, .readhere{
	font-weight: 600;
	text-decoration: none;
}
.downloadhere{
	color: var(--green);
	margin-right: 1rem;
	font-size: 1.4rem;
}
.readhere{
	color: var(--blue);
	font-size: 1.4rem;
}
.downloadhere:hover, .readhere:hover{
	color: var(--black);
}
.wish{
	float: right;
	color: var(--black);
}
.wish:hover{
	color: var(--blue);
}
.cardpl{
	padding: 0 1rem;
	margin-top: 4rem;
}
.card img{
	height: 30rem;
	cursor: pointer;
}
.shadow{
	box-shadow: 0 .4rem .5rem 0 rgba(0, 0, 0, 0.2), 0 .6rem 1rem 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 460.98px){
	.card img{
		height: 40rem;
	}
}


/* =====================
 E-Book responsive
 ======================== */

/*=================
 E-BOOK_1
 ================== */

.mediaimg{
	width: 27rem;
	height: 35rem;
}
.readow{
	color: var(--green);
	background-color: var(--white);
	border: .1rem solid var(--green);
	font-size: 1.2rem;
	width: 9rem;
	text-transform: uppercase;
}
.readow:hover{
	color: var(--white);
	background-color: var(--green);
}
.byauthor{
	color: var(--blue);
}
.oritype,
.ori2type{
	color: var(--blue);
	text-decoration: none;
	margin: 1rem 0;
	text-transform: uppercase;
}
.oritype i,
.ori2type i{
	color: var(--green);
}

.ori2type:hover{
	color: var(--green);
}
.E-book_1-describ{
	margin-top: 1rem;
}
 .herebooktitle{
	color: var(--blue);
	font-size: 2.2rem;
 }
.herebooksubtitle{
	font-size: 1.4rem;
}
.herebookdes{
	text-transform: uppercase;
	margin-top: 1.5rem;
	margin-bottom: .8rem;
}
 .novel-title{
	font-weight: 400 !important;
 }
 .previewbtn{
	background-color: var(--green);
	color: var(--white);
	padding: .5rem 2rem;
	font-size: 1.2rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	text-transform: uppercase;
 }
.previewbtn:hover{
	color: var(--bg-color);
}
 .publishaer{
	text-decoration: none;
	color: var(--green);
 }
.Ebook-1_content h1{
	font-size: 3rem;
 }
.Ebook-1_content h3{
	font-size: 3rem;
}
.E-book_1-describ a{
	margin-bottom: -3rem;
	text-decoration: none;
	color: var(--blue);
}
.E-book_1-detail{
	margin-left: 3rem;
}
.E-book_1-describtion:hover,
.E-book_1-detail:hover,
.nowthis{
	border-bottom: .5rem solid var(--green);
	width: 9rem;
	display: inline-block;
}

.describe-hr{
	margin-top: .5rem;
	background-color:var(--green)!important;
	opacity: 1;
	height: 1rem;
}
.detail-hr{
	background-color:var(--green)!important;
	opacity: .2;
}
.resources-title{
	font-size: 1.8rem;
	color: var(--blue);
	margin-bottom: 2rem;
	font-weight: 600;
}
.Ebook-1_resources{
	list-style: none;
	padding-left: 0;
}
.Ebook-1_resources li{
	padding: .5rem 0;
}
.Ebook-1_resources a{
	text-decoration: none;
	color: var(--green);
	font-size: 1.6rem;
}
.Ebook-1_resources a:hover,
.Ebook-1_resources .typesub{
	color: var(--blue);
}
/* review submit section ebook-1  */
.review-submit{
	background-color: var(--blue);
	color:var(--white);
	margin: 1.5rem 0;
	width: 10rem;
	font-size: 1.2rem;
}
.review-submit:hover{
	background-color: var(--blue);
	color: var(--bg-color);
}
.write-review{
	color: var(--blue);
	margin-top: 5rem;
	padding-bottom: 1rem;
	font-size: 1.8rem;
}
.reviewpername{
	color: var(--blue);
	margin-top: 1rem;
	font-size: 1.4rem;
}
.reviewperdate{
	color: var(--green);
	font-size: 1.2rem;
}
.reviewuser{
	margin-top: 2rem;
}


/** 
 * Media Object
 */
 .o-media {
	display: flex;
	align-items: flex-start;
  }
  
  .o-mediaimg {
	width: 30rem;
  }

  
  /* Alignment variants
	 ===================================== */
  .o-mediamiddle {
	align-items: center;
  }
  
  /* Size variants
	 ===================================== */
  .o-media--small > .o-mediaimg {
	margin-right: 0.75rem;
  }
  .o-media--small.o-media--reverse > .o-mediaimg {
	margin-left: 0.75rem;
	margin-right: 0;
  }
  
  .o-media--large > .o-mediaimg {
	margin-right: 3rem;
  }
  .o-media--large.o-media--reverse > .o-mediaimg {
	margin-left: 3rem;
	margin-right: 0;
  }
  
  /* Reverse direction
	 ===================================== */
  .o-media--reverse > .o-mediaimg {
	margin-right: 0;
	margin-left: 1.5rem;
	order: 1;
  }
  
  /* Gutterless media objects
	 ===================================== */
  .o-media--flush > .o-mediaimg {
	margin-right: 0;
	margin-left: 0;
  }

.o-mediaimg img {
	height: 8rem;
	width: 8rem;
  }

/* Responsive Review */

@media only screen and (max-width: 1199.98px){
	.mediaimg {
		width: 23rem;
	}
}
@media only screen and (max-width: 991.98px){
	.resourcesidebar{
		display: none;
	}
	.o-mediaimg {
		width: 45rem;
	}
	.describe-hr {
		margin-top: .4rem;
	}
}
@media only screen and (max-width: 767.98px){
	.mediaheader {
		justify-content: center;
		display: grid;
		margin-bottom: 2rem;
	}
	.herebooktitle, .herebooksubtitle, .hereparts, .E-book_1-describ, .herebookdes  {
		text-align: center;
	}
	.o-mediaimg {
		width: 50rem;
	}
}
@media only screen and (max-width: 575.98px){
	.o-mediaimg {
		width: 60rem;
	}
}


/* privacy page  */

.privacy-hr{
	background-color: var(--blue);
	height: .1rem !important;
	opacity: 1;
	margin-bottom: 2rem;
}
.privacytitle{
	color: var(--blue);
	font-weight: bold;
	font-size: 1.8rem;
}
.privacy2title{
	font-size: 1.6rem;
	color: var(--green);
	font-weight: 600;
}
.privacy li{
	font-size: 1.4rem;
}
@media only screen and (max-width: 991.98px){
	.privacytitle{
		font-size: 1.6rem;
	}
	.privacy2title{
		font-size: 1.4rem;
	}
}



/* service page  */
.service-title{
	color:var(--blue);
	text-shadow: .2rem .1rem .1rem var(--blue);
	font-size:4rem;
	font-weight: bolder;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 5rem;
}
.service-sub-title{
	color: var(--white);
	font-size: 1.8rem;
	padding: 2rem 0;
	font-weight: 900;
	text-align: center;
}

.services-container{
	background-color: var(--blue);
}
.service-content{
	text-align: center;
}
.serviceread{
	color: var(--blue);
	font-weight: 600;
}
.hr-service{
	height: .1rem !important;
	opacity: 1;
	width: 30rem;
	background-color: var(--blue);
	display: inline-block;
}
.roomhere{
	margin-top: 5rem;
}

@media only screen and (max-width: 991.98px){
	.service-sub-title {
		font-size: 1.6rem;
	}
	.service-title{
		font-size: 3.5rem;
	}

}
@media only screen and (max-width: 767.98px){
	.service-title{
		font-size: 3rem;
	}
}
@media only screen and (max-width: 575.98px){
	.service-title{
		font-size: 2.5rem;
	}
}



/*=================
 FAQ
 ================== */


.faqtitle{
	margin-bottom: 2rem;
    text-align: center;
    color: var(--blue);
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
}

.faq {
  background-color: var(--white);
  border: .1rem solid var(--sky);
  border-radius: 1rem;
  margin: 2rem 0;
  padding: 3rem;
  position: relative;
  overflow: hidden;
  transition: 0.3 ease;
}

.faq.active {
  box-shadow: 0 .3rem .6rem rgba(0, 0, 0, 0.1), 0 .3rem .6rem rgba(0, 0, 0, 0.1);
}

.faq.active::before,
.faq.active::after {
  content: "\f075";
  font-family: "Font Awesome 5 Free";
  color: var(--green);
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: 2rem;
  left: 2rem;
  z-index: 0;
}

.faq.active::before {
  color: var(--blue);
  top: -.1rem;
  left: -.3rem;
  transform: rotateY(180deg);
}

.faq-title {
  margin: 0 3.5rem 0 0;
  color: var(--blue);
}

.faq-text {
  display: none;
  margin: 3rem 0 0;
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  padding: 0;
  position: absolute;
  top: 3rem;
  right: 3rem;
  height: 3rem;
  width: 3rem;
}

.faq-toggle:focus {
  outline: 0;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  color: var(--white);
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle {
  background-color: var(--sky);
}



.staffhere{
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	margin-bottom: 1.5rem;
}
.partwise {
	margin: 2rem 0;
    text-align: center;
    font-weight: 900;
}

/* video page  */

.play-btn{
	width: 5rem;
	position: relative;
    top: -55%;
    cursor: pointer;
    transition: 0.5s;
    left: 45%;
	opacity: 1;
}
.video-width{
	width: 200%;
}
.video-user-img{
	width: 5rem;
	
}
.modal-content{
	background: transparent !important;
	border: none !important;
	margin-left: -21rem !important;
}
@media only screen and (max-width: 575.98px){
	.video-width{
		width: 100%;
	}
	.play-btn{
		width: 5rem;
    position: relative;
    top: 55%;
    cursor: pointer;
    transition: 0.5s;
    left: 45%;
    opacity: 1;
	}
	
	.modal-content{
		background: transparent !important;
		border: none !important;
		margin-left: 0rem !important;
    margin-bottom: 43rem !important;
	}
}
@media only screen and (max-width: 768.98px){
	.video-width{
		width: 100%;
	}
	.play-btn{
		width: 5rem;
		position: relative;
		top: -55%;
		cursor: pointer;
		transition: 0.5s;
		left: 45%;
		opacity: 1;
	
	}
	
	.modal-content{
		background: transparent !important;
		border: none !important;
		
  
	}
}
/* =======Gallery======== */
.gallery-container{
	height: 100rem;
}
.item{
	transition: .5s ease-in-out;
}
.item:hover{
	filter: grayscale(50%);

}

.item a  {
	transform: scale(1.5);
}  
.item:hover img {
	transform: scale(.9);
	transition: .5s ease-in-out;
  } 
  .img img {
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px;
	padding: 5px;  /* Rounded border */
	
  }  
  .img img:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }  
@media only screen and (max-width: 575.98px){
	.gallery-container{
		height: 340rem;
	}
}


.download{
	font-size: 1.2rem;
	background-color: var(--green);
	color: var(--white);
}
.download:hover{
	color: var(--bg-color);
}
iframe{
	width: 33rem;
	height: 22rem;
}